/* Light mode styles */
body {
    background-color: #defffc;
    color: #333; /* Text color for light mode */
    font-family: 'biome light', sans-serif; /* Font for the rest of the content in light mode */
}

header {
    background-color: #000222;
    color: #b12124;
    padding: 10px;
    text-align: center;
    font-family: 'biome', sans-serif; /* Font for headers in light mode */
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode body {
    background-color: #000;
    color: #fff; /* Text color for dark mode */
    font-family: 'biome light', sans-serif; /* Font for the rest of the content in dark mode */
}

/* Common styles for both light and dark modes */
main {
    margin: 20px;
    padding: 10px;
}

